*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(231, 230, 230);
}
#nav{
    margin-left: 150px;
    
}
#nav>a{
    margin-left: 40px;
    color: rgb(31, 163, 224);
    text-decoration: none;
}
#nav>a:hover{
    color: black;
    text-decoration: underline;
}
#ncContainer{
    height: auto;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}
#ncHead{
    font-size: 35px;
    color: rgb(94, 93, 93);
}
#ncDetails{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 60px;
    width: 100%;
    align-items: center;
    background-color: rgb(218, 216, 216);
    margin-top: 20px;
    margin-bottom: 5px;
}
#ncDetails>div{
    height: 40px;
    width: 200px;
}
#ncDetails>div:nth-child(1){
    font-size: 23px;
    margin-top: 15px;
}
#ncDetails>div>button{
    border: 2px solid rgb(19, 168, 236);
    padding: 7px 6px;
    width: 200px;
    border-radius: 5px;
    margin-top: 5px;
}
#ncDetails>div:nth-child(3){
    margin-right: 20px;
}
#ncDetails>div>button:hover{
    border: 2px solid black;
}
#ncTraining>div{
    display: flex;
    gap: 20px;
    text-align: center;
}
#ncCalender{
    height: 500px;
    width: 100%;
    border: 1px solid green;
    margin-bottom: 5px;
}
#ncMonthChange{
    height: 40px;
    width: 100%;
    background-color: rgb(218, 216, 216);
    margin-bottom: 20px;
}
#ncMonthChange>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 3px;
}
#ncMonthChange>div>button{
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 3px;
}
#ncMonthChange>div>button:hover{
    border: 2px solid black;
}
#ncAnchor{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
}
#ncAnchor>a{
    color: rgb(53, 159, 230);
    text-decoration: none;
}
#ncAnchor>a:hover{
    text-decoration: underline;
}
#ncModules{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 216, 216);
    align-items: center;
    margin-bottom: 30px;
}
#ncModules>button{
    padding: 7px 13px;
    border: 2px solid rgb(19, 168, 236);
    border-radius: 5px;
    margin-right: 20px;
}
#ncModules>div{
    font-size: 23px;
    margin-left: 20px;
}
#ncModules>button:hover{
    border: 2px solid black;
}
#ncTopList{
    height: 170px;
    width: 800px;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    /* border-radius: 20px; */
}
#ncTopList>h3{
    display: flex;
    align-items: center;
    height: 40px;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: -6px;
}
#ncTopList>div:nth-child(2){
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
    width:90%;
    margin: auto;
    margin-bottom: 15px;
}
#ncTopList>div:nth-child(3){
    height: 40px;
    width: 90%;
    border: 1px dotted black;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
}
#ncTopList>div>img{
    height: 40px;
    width: 40px;
}
#ncTopList>div>a{
    text-decoration: none;
}
#ncTopList>div>a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#ncTopList>div:nth-child(4){
    width: 90%;
    margin: auto;
}



*{
    margin: 0px;
    padding: 0px;
}
.background{
    height: 60px;
    width:100%;
    display: flex;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 10px 0px;
    background-color:#041b5c ;
} 
#inav{
width: 100%;
position: fixed;
background-color:transparent; 
font: 12px lato, Arial, Helvetica, sans-serif;
color: white;
display: flex;
align-items: center;
padding: 8px;
z-index: 1000;
box-sizing: border-box;
transition: all 0.2s ease-in-out;

}
#inav > img{
   
    height:35px;
    width:100px;
    padding-left: 280px;
    padding-right: 80px;
    padding-bottom: 15px;
}
#inav{
    display:flex;
    align-items: flex-end;
    gap:20px;
    align-items: center;

}
#inav>p{
    display:flex;
    align-items: center;
    font:10px;
  
}
#inav>p{
    font-size: 18px;
    text-decoration: none;
    
}
#icons{
    display:flex;
    height: 35px;
    width:40px;   
}
#icons:hover{
    color:whitesmoke;   
}
#inav a{
    color:grey;
    text-decoration: none;
}
#inav>p:hover{
   color:whitesmoke;
}
#inav a:hover{
    color:whitesmoke;
}
#spre{
    border: 1px solid yellow;
}
#img_acc{
    width: 5%;
    height: 5%;
    margin-left: -10px;
    border-radius: 50%;
}
 
#div_acc_img{
    /* border: 2px solid red; */
    display: flex;
    width: 100px;
    height: 50px;
    /* align-items: center; */
}

.child{
/* border: 1px solid white; */
width: 33%;
display: flex;
padding: 6px;
justify-content: center;
align-items: center;
}
.child > a > img{
width: 80%;
height: 80%;
}